<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groceries API</title>
</head>
<body>
<div>
  <h3>Groceries category</h3>
  <ul>
    <li>barley</li>
    <li>buckwheat</li>
    <li>corn</li>
    <li>rice</li>
    <li>wheat</li>
  </ul>
</div>
<div>
  <h3>Example cheaper</h3>
  <p>exampledomain.ua/cheaper/category/</p>

  <h3>Example history</h3>
  <p>exampledomain.ua/history/category/</p>

  <h3>Example good</h3>
  <p>exampledomain.ua/category/</p>
</div>
</body>
</html>